*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    Helvetica, sans-serif;
  --default-padding: 2rem;
  --terminal-background: hsl(210, 9%, 21%);
  --header-background: hsl(210, 9%, 10%);
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-size: 16px;
}

*::selection {
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
}

html,
body,
 {
  width: 100%;
}

html,
body {
  min-height: 100dvi;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

[data-grid] {
  display: grid;
  align-items: start;
}

h1,
h2 {
  margin-block-end: 2rem;
}

h2,
.showcase,
.speech,
.gmail,
.github {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-block-start: 2rem;
  text-transform: uppercase;
}

#works figcaption,
header li {
  font-weight: 700;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: var(--header-background);
  box-shadow: 0 0 10px 0 white;
  font-size: 2rem;
  z-index: 1;
}

header a {
  font-size: var(--default-font-size);
}

header a:is(:hover, .current) {
  filter: drop-shadow(0 0 5px white);
  transition: filter 0.3s;
}

details {
  font-size: 2rem;
}

header,
article,
details li {
  padding: var(--default-padding);
}

nav > ul,
.code details figure[data-grid],
#contact > figure {
  grid-auto-flow: column;
}

nav > ul {
  justify-items: center;
}

.code details figure[data-grid] {
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

details ul {
  border-radius: 1vmax;
  /* background-color: hsl(140, 1%, 56%); */
}

details li,
#skills summary {
  margin: 0 auto;
}

details li {
  max-width: 50%;
  text-align: right;
  line-height: clamp(1.5rem, 2rem, 2.5rem);
  font-size: clamp(1.4rem, 1.7rem, 2rem);
}

#skills summary {
  cursor: pointer;
  width: fit-content;
}

li.code img {
  width: 200px;
  aspect-ratio: 1;
}

figcaption.reversed {
  text-align: left;
}

img.reversed {
  order: 1;
}

figcaption {
  height: 100%;
}

.tools li:hover,
.code figure,
#works figure:not(.showcase) {
  background-color: var(--terminal-background);
  border-radius: 1vmax;
}
.code figure {
  padding: var(--default-padding);
}

/* typewriter */

.pending {
  display: block;
}

.pending::after {
  content: "|";
  animation: blink 1s linear infinite;
}

/* narzędzia */

.tools {
  grid-template-columns: repeat(5, 1fr);
}

.tools li:not(:hover) figcaption {
  visibility: hidden;
}

.tools li:hover {
  transition: background-color 0.5s;
  cursor: pointer;
}

.tools figure {
  justify-items: center;
}

.tools figure img {
  width: max(7vw, 40px);
  aspect-ratio: 1;
}

.speech {
  margin-top: var(--default-padding);
  background-color: var(--terminal-background);
}

/* prace */

#works figure {
  gap: 3rem;
}

#works figure:not(.showcase) {
  padding-block: var(--default-padding);
  cursor: pointer;
}

#works img {
  width: calc(100vw / 3);
  /* aspect-ratio: 16 / 9; */
}

.showcase {
  justify-content: center;
}

.notifications {
  margin-inline-end: auto;
}

/* kontakt */

#contact > figure {
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.gmail,
.github {
  cursor: pointer;
}

:is(.gmail, .github) img {
  width: max(50px, 5vw);
  aspect-ratio: 1;
}

/* animacje */
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
